# Strings

In [15]:
a='Starting'
b='ending'
print(a+" "+b)

Starting ending

In [17]:
if 'start' in a.lower():
    print('Matched')

Matched

In [20]:
slicing='Tejas chougule'
print(slicing[:-1])

Tejas chougul

In [21]:
slicing='Tejas chougule'
print(slicing[5:])

 chougule

In [25]:
slicing='Tejas chougule'
print(slicing[::-1])

eluguohc sajeT

In [27]:
slicing='Tejas chougule'
print(slicing[-1:])

e

In [30]:
slicing.upper(),slicing.lower(),

AttributeError: 'str' object has no attribute 'capitialize'

In [31]:
slicing.replace('Tejas','Tejas'.upper())

'TEJAS chougule'

In [32]:
slicing.title()

'Tejas Chougule'

In [34]:
slicing.replace('chougule','chougule'.title())

'Tejas Chougule'

In [35]:
slicing

'Tejas chougule'

In [40]:
spaces='   Tejas Chougule   '
print(spaces)
print(spaces.strip(' '))

   Tejas Chougule
Tejas Chougule

# Lists

In [43]:
a=[]
b=list()
c=[1,2,3]
print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'list'>
<class 'list'>

In [46]:
mixed=[[1,2,3],True,'Tejas',1.2]
print(mixed)

[[1, 2, 3], True, 'Tejas', 1.2]

In [49]:
print(mixed[2][2])

j

In [50]:
print(mixed+c)

[[1, 2, 3], True, 'Tejas', 1.2, 1, 2, 3]

In [51]:
c.append([4,5,6])

In [54]:
c.extend([4,5,6])

In [56]:
c.remove([4,5,6])
c

[1, 2, 3, 4, 5, 6]

In [57]:
c.insert(3,[4,5,6])
c

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [58]:
del c[3]
c

[1, 2, 3, 4, 5, 6]

In [63]:
for i in mixed:
    print(i)

[1, 2, 3]
True
Tejas
1.2

In [71]:
c.sort(reverse=True)
c

[6, 5, 4, 3, 2, 1]

In [72]:
c.sort()
c

[1, 2, 3, 4, 5, 6]

In [73]:
c.reverse()
c

[6, 5, 4, 3, 2, 1]

In [74]:
d=c.copy()
print(d)

[6, 5, 4, 3, 2, 1]

In [75]:
d.count(1)

1

# Tuple

In [76]:
t=()
type(t)

tuple

In [77]:
tp=('item',)
type(tp)

tuple

In [78]:
tuples=(1,2,3,4)
lists=list(tuples)
lists

[1, 2, 3, 4]

In [80]:
lists[0]=0
lists

[0, 2, 3, 4]

In [81]:
tuples=tuple(lists)
tuples

(0, 2, 3, 4)

In [86]:
(zero, *two)=tuples
print(zero)
print(two)

0
[2, 3, 4]

In [87]:
tp+tuples

('item', 0, 2, 3, 4)

In [89]:
lists.sort(reverse=True)
lists

[4, 3, 2, 0]

In [90]:
l_new=sorted(lists)
l_new

[0, 2, 3, 4]

# Dictionary

In [98]:
dt=dict()
print(type(dt))
d={
    'age':[27,18],
    'name':'Tejas'
    
}
print(type(d),d)

<class 'dict'>
<class 'dict'> {'age': [27, 18], 'name': 'Tejas'}

In [99]:
d.get('age')

[27, 18]

In [101]:
d['age']

[27, 18]

In [102]:
d.keys()

dict_keys(['age', 'name'])

In [103]:
d.values()

dict_values([[27, 18], 'Tejas'])

In [104]:
'age' in d

True

In [105]:
d.items()

dict_items([('age', [27, 18]), ('name', 'Tejas')])

In [109]:
for k,v in d.items():
    print(k,v)

age [27, 18]
name Tejas

In [110]:
for k in d.keys():
    print(k)

age
name

In [111]:
d['dob']=17051994
d

{'age': [27, 18], 'name': 'Tejas', 'dob': 17051994}

In [112]:
d.update({'fruit':['apple','kiwi']})
d

{'age': [27, 18], 'name': 'Tejas', 'dob': 17051994, 'fruit': ['apple', 'kiwi']}

In [113]:
d['fruit'][0]

'apple'

In [114]:
del d['dob']
d

{'age': [27, 18], 'name': 'Tejas', 'fruit': ['apple', 'kiwi']}

In [115]:
d.pop('fruit')
d

{'age': [27, 18], 'name': 'Tejas'}

In [116]:
d_new=d.copy()
print(d_new)

{'age': [27, 18], 'name': 'Tejas'}

In [117]:
d['dob']=17051994
d

{'age': [27, 18], 'name': 'Tejas', 'dob': 17051994}

In [118]:
d_new

{'age': [27, 18], 'name': 'Tejas'}

In [120]:
d.update({'fruit':{'small':'kiwi'}})
d

{'age': [27, 18], 'name': 'Tejas', 'dob': 17051994, 'fruit': {'small': 'kiwi'}}

# Sets

In [124]:
s=set({1,2,3,3,4})
print(s)

{1, 2, 3, 4}

In [126]:
s.add('True')
s

{1, 2, 3, 4, 'True'}

In [129]:
s.discard('True')
s

{1, 2, 3, 4}

In [130]:
s2={1,2,5,6}

In [131]:
s1=s.union(s2)

In [132]:
s1

{1, 2, 3, 4, 5, 6}

In [133]:
s.intersection(s2)

{1, 2}

# List Comprehension

In [134]:
l=[1,2,3,4,5,6]
for i in l:
    print(i)

1
2
3
4
5
6

In [135]:
l_new=[i for i in l]
print(l_new)

[1, 2, 3, 4, 5, 6]

In [136]:
l1=[x for x in range(20) if x%2==0]
l1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [137]:
l2=['Even' if x%2==0 else "Odd" for x in range(20) ]
l2

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd']